[Unit]
Description=Assignment sensor logger (simulado)
After=network.target multi-user.target
Wants=network.target

[Service]
Type=simple
User=assignment-sensor              
Group=assignment-sensor
# Ruta absoluta al binario y parámetros
ExecStart=/usr/local/bin/assignment-sensor --interval 5 --device /dev/urandom
Restart=on-failure
RestartSec=2
# Tiempo que systemd espera tras SIGTERM antes de enviar SIGKILL
TimeoutStopSec=20
# Señal que systemd usará para terminar (por defecto SIGTERM)
KillSignal=SIGTERM
KillMode=control-group

[Install]
WantedBy=multi-user.target
